<!DOCTYPE html>
<html>
<head>
    <title>File Upload Example</title>
</head>
<body>
    <h1>File Upload Example</h1>

    <form th:action="@{/images}" method="POST" id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" />
        <button type="submit">Upload</button>
    </form>

    <ul>
        <li th:each="image : ${images}"> <!-- items는 컬렉션 또는 배열 -->
            <img th:src="@{/images/{id}(id=${image.id})}">
        </li>
    </ul>
</body>
</html>